.curve{
    svg, .background{
        position: fixed;
        height: calc(100vh + 600px);
        width: calc(100vw + 800px);
        pointer-events: none;
        left: 0;
        top: 0;
        path{
            fill: #141516;
        }
    }

    .background{
        background-color: #141516;
        transition: opacity 0s linear 0.1s;
    }
    .route{
        display: flex;
        align-items: center;
        position: absolute;
        span{
            display: block;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
        }
        left: 50%;
        top: 40%;
        color: white;
        font-size: 46px;
        z-index: 3;
        transform: translateX(-50%);
        text-align: center;
    }
}
