.menu{
    height: 100vh;
    //background-color: rgb(41, 41, 41);
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 5;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .body{
        box-sizing: border-box;
        height: 100%;
        padding: 10% 100px 10% 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (width <= 500px) {
            width: 100%;
            padding: 10% 100px 10% 110px;
        }
        .nav{
            display: flex;
            flex-direction: column;
            font-size: 56px;
            gap: 12px;
            margin-top: 30%;

            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
            }

            a{
                text-decoration: none;
                color: white;
                font-weight: 300;
            }

        }
    }
}
